# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/artifacts/
/.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
**/bin/
**/obj/
.vs/
.nuget-packages/
.nuget-http-cache*/
.dotnet-home/
*.user

# Local configuration and secrets
appsettings.Local.json
.env
